  @mixin phone {
    @media (max-width: 768px) { @content; }
  }
  
  @mixin tablet {
    @media (min-width: 769px) { @content; }
  }
  
  @mixin desktop {
    @media (min-width: 1024px) { @content; }
  }
  
  @mixin widescreen {
    @media (min-width: 1216px) { @content; }
  }
  
  @mixin fullhd {
    @media (min-width: 1408px) { @content; }
  }
  
  #btmFooter {
  
    @include tablet {
      margin-top: 10px;
      margin-bottom: 10px;
      justify-content: center;
      align-items:center;
    }
  
    @include phone {
      margin-top: 1px;
      margin-bottom: 5px;
      justify-content: center;
      align-items:center;
    }
  }
  
  #icard {
    // background-color: #f1f6fe;
    background-color: #e3f4fc;
    // background-color: #ffa500;
    card-color: transparent;
    color: #003468;
  }

  #cardpara {
      text-align: center;
      font-size: 1em;
      font-weight: 400;
      color: #003468;
  }

  #cardtitle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #003468;
}

.card {
  border-bottom: 5px solid #003684;
}