#market-clients {
    color: #011240;
}

#market-clients #marketSub {
    color: #687992;
}

#headingTestimonials {
    color: #011240;
    margin-bottom: 32px;
    line-height: 42px;
    font-size: 32px;
    font-weight: 700;
}

#clipPath {
    -webkit-clip-path: ellipse(50% 65% at 30% 50%);
    clip-path: ellipse(50% 65% at 30% 50%);
    background: #003468;
    color: white;
}